Repository LinSwanSaung/clinicinformationsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "frontend/src/**/*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "backend/src/**/*.js": ["prettier --write"],
  "*.{json,css,md}": ["prettier --write"]
}

fix(auth): resolve role authorization issues for admin and nurse
  backend/src/constants/roles.js
  backend/src/routes/doctorAvailability.routes.js
  backend/src/routes/patientDiagnosis.routes.js
  backend/src/routes/user.routes.js
Due: prettier --write

fix(validation): handle null doctor_id in visit statistics and availability
  backend/src/models/DoctorAvailability.model.js
  backend/src/services/DoctorAvailability.service.js
  backend/src/services/repositories/VisitsRepo.js
  frontend/src/pages/admin/AdminDashboard.jsx
Due: eslint --fix, prettier --write

Stage 3: Single schema.sql baseline - consolidated all migrations
  STAGE_3_SUMMARY.md
  db/SCHEMA_TESTING.md
  db/SCHEMA_VERIFICATION.md
  db/legacy_migrations/001_emr_enhancements.sql
  db/legacy_migrations/002_add_admin_override_columns.sql
  db/legacy_migrations/002_add_cashier_pharmacist_roles.sql
  db/legacy_migrations/002_add_delayed_status.sql
  db/legacy_migrations/002_add_priority_to_vitals.sql
  db/legacy_migrations/002_add_visit_id_to_queue_tokens.sql
  db/legacy_migrations/002_payment_holds.sql
  db/legacy_migrations/002_quick_fix.sql
  db/legacy_migrations/003_add_delayed_status_appointment_queue.sql
  db/legacy_migrations/003_add_visit_times.sql
  db/legacy_migrations/003_billing_system.sql
  db/legacy_migrations/003_enhance_audit_logs.sql
  db/legacy_migrations/004_add_action_constraint.sql
  db/legacy_migrations/004_add_visit_id_to_allergies.sql
  db/legacy_migrations/004_add_visit_id_to_queue_tokens.sql
  db/legacy_migrations/004_create_patient_documents_table.sql
  db/legacy_migrations/004_notifications.sql
  db/legacy_migrations/005_add_category_to_diagnoses.sql
  db/legacy_migrations/005_add_invoice_actions.sql
  db/legacy_migrations/005_add_late_status.sql
  db/legacy_migrations/005_cleanup_appointment_queue.sql
  db/legacy_migrations/005_doctor_unavailability_management.sql
  db/legacy_migrations/006_add_diagnosis_date_to_diagnoses.sql
  db/legacy_migrations/006_extend_audit_logs_actions.sql
  db/legacy_migrations/007_add_icd_10_code_to_diagnoses.sql
  db/legacy_migrations/007_make_audit_logs_user_id_nullable.sql
  db/legacy_migrations/008_add_patient_portal_accounts.sql
  db/legacy_migrations/009_add_admin_override_columns.sql
  db/legacy_migrations/BILLING_REUSE_GUIDE.md
  db/legacy_migrations/README_PAYMENT_MIGRATION.md
  db/migration-inventory.md
  db/schema.sql
Due: prettier --write

feat(stage-4): add reusable feedback and status components
  frontend/src/components/library/dashboard/StatCard.jsx
  frontend/src/components/library/feedback/LoadingSpinner.jsx
  frontend/src/components/library/index.js
  frontend/src/components/library/inputs/SearchBar.jsx
  frontend/src/components/library/status/StatusBadge.jsx
  frontend/src/pages/admin/EmployeeManagement.jsx
  frontend/src/pages/admin/PendingItems.jsx
Due: eslint --fix, prettier --write

feat(stage-4): add DataTable, FormModal, FormCard, RecordListItem kits
  frontend/src/components/library/DataTable/DataTable.jsx
  frontend/src/components/library/DataTable/index.js
  frontend/src/components/library/forms/FormCard.jsx
  frontend/src/components/library/forms/FormModal.jsx
  frontend/src/components/library/forms/index.js
  frontend/src/components/library/index.js
  frontend/src/components/library/lists/RecordListItem.jsx
  frontend/src/components/library/lists/index.js
Due: eslint --fix, prettier --write

feat(stage-4): add EmptyState, ErrorState, ConfirmDialog + refactor PendingItems, AuditLogs
  frontend/src/components/library/feedback/ConfirmDialog.jsx
  frontend/src/components/library/feedback/EmptyState.jsx
  frontend/src/components/library/feedback/ErrorState.jsx
  frontend/src/components/library/index.js
  frontend/src/pages/admin/AuditLogs.jsx
  frontend/src/pages/admin/PendingItems.jsx
Due: eslint --fix, prettier --write

refactor(PatientAccountRegistration): use DataTable, FormModal, SearchBar, StatusBadge
  STAGE_4_SCAN_REPORT.md
  frontend/src/pages/admin/PatientAccountRegistration.jsx
Due: eslint --fix, prettier --write

refactor(AdminDashboard): replace ad-hoc stat blocks with StatCard
  frontend/src/pages/admin/AdminDashboard.jsx
Due: eslint --fix, prettier --write

Stage 4: PaymentTransactions â†’ DataTable (+Spinner/StatusBadge), preserve filters/pagination/dialog; behavior unchanged
  frontend/src/pages/admin/PaymentTransactions.jsx
Due: eslint --fix, prettier --write

refactor(EmployeeManagement): replace bespoke controls with TableToolbar (search + filters)
  frontend/src/components/library/DataTable/TableToolbar.jsx
  frontend/src/components/library/DataTable/index.js
  frontend/src/components/library/index.js
  frontend/src/pages/admin/EmployeeManagement.jsx
Due: eslint --fix, prettier --write

Stage 4: guard pollers with isAuthenticated/role; convert intervals to React Query; route fetches via api.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/NotificationBell.jsx
  frontend/src/components/WalkInModal.jsx
  frontend/src/constants/polling.js
  frontend/src/pages/admin/PaymentTransactions.jsx
  frontend/src/pages/cashier/CashierDashboard.jsx
  frontend/src/pages/doctor/PatientMedicalRecord.jsx
  frontend/src/pages/doctor/PatientMedicalRecordManagement.jsx
  frontend/src/pages/nurse/ElectronicMedicalRecords.jsx
  frontend/src/pages/nurse/NurseDashboard.jsx
  frontend/src/pages/nurse/NursePatientQueuePage.jsx
  frontend/src/pages/patient/PatientMedicalRecords.jsx
  frontend/src/pages/receptionist/LiveQueuePage.jsx
  frontend/src/services/api.js
Due: eslint --fix, prettier --write

Stage 4: PatientListPage â†’ SearchBar + LoadingSpinner + EmptyState (behavior unchanged)
  frontend/src/pages/receptionist/PatientListPage.jsx
Due: eslint --fix, prettier --write

Stage 4: LiveQueuePage â†’ LoadingSpinner + EmptyState; remove unused vars (behavior unchanged)
  frontend/src/pages/receptionist/LiveQueuePage.jsx
Due: eslint --fix, prettier --write

Stage 4: NursePatientQueuePage â†’ LoadingSpinner + EmptyState; prune unused imports (behavior unchanged)
  frontend/src/pages/nurse/NursePatientQueuePage.jsx
Due: eslint --fix, prettier --write

Stage 4: EmployeeManagement â†’ replace window.confirm with ConfirmDialog for delete/toggle (behavior unchanged)
  frontend/src/pages/admin/EmployeeManagement.jsx
Due: eslint --fix, prettier --write

Stage 4: NotificationBell â†’ EmptyState for empty list; behavior unchanged
  frontend/src/components/NotificationBell.jsx
  frontend/src/pages/nurse/ElectronicMedicalRecords.jsx
  frontend/src/services/api.js
  frontend/src/services/sessionGuard.js
Due: eslint --fix, prettier --write

Stage 4: PdfDownloadButton + wire in PaymentTransactions (Patient keeps api.getBlob handler)
  frontend/src/components/library/buttons/PdfDownloadButton.jsx
  frontend/src/components/library/index.js
  frontend/src/pages/admin/PaymentTransactions.jsx
  frontend/src/pages/patient/PatientMedicalRecords.jsx
Due: eslint --fix, prettier --write

Stage 4: extract PaymentDetailModal (FormModal + FormCard); wire into CashierDashboard (behavior unchanged)
  frontend/src/components/library/index.js
  frontend/src/components/library/modals/PaymentDetailModal.jsx
  frontend/src/pages/cashier/CashierDashboard.jsx
Due: eslint --fix, prettier --write

Stage 4: PatientCard dialogs â†’ FormModal; behavior and copy unchanged
  frontend/src/components/medical/PatientCard.jsx
Due: eslint --fix, prettier --write

Stage 4: migrate ModalComponent usages to FormModal (no behavior change)
  frontend/src/pages/doctor/PatientMedicalRecordManagement.jsx
  frontend/src/pages/receptionist/PatientDetailPage.jsx
Due: eslint --fix, prettier --write

Stage 4: headers + states + badges
  frontend/src/components/library/index.js
  frontend/src/components/library/status/LinkedPatientBadge.jsx
  frontend/src/pages/admin/PatientAccountRegistration.jsx
  frontend/src/pages/doctor/DoctorDashboard.jsx
  frontend/src/pages/nurse/NurseDashboard.jsx
  frontend/src/pages/receptionist/AppointmentsPage.jsx
Due: eslint --fix, prettier --write

Stage 4: FormModal confirmLoadingText; swap InvoiceManagement confirm dialog (copy preserved)
  frontend/src/components/library/forms/FormModal.jsx
  frontend/src/components/medical/PatientDocumentManager.jsx
  frontend/src/pages/cashier/InvoiceManagement.jsx
  frontend/src/pages/doctor/PatientMedicalRecordManagement.jsx
Due: eslint --fix, prettier --write

Stage 5 Phase C: Auto-cancel end-of-day appointments job
  STAGE_5_PHASE_C_CHANGELOG.md
  STAGE_5_PHASE_C_CONFIG.md
  backend/src/app.js
  backend/src/jobs/autoCancelAppointments.js
Due: prettier --write

Stage 5 Phase A: Service-layer lifecycle fixes with transactions
  STAGE_5_PHASE_A_CHANGELOG.md
  STAGE_5_PHASE_A_TESTING.md
  backend/src/errors/ApplicationError.js
  backend/src/middleware/errorHandler.js
  backend/src/services/Invoice.service.js
  backend/src/services/Queue.service.js
  backend/src/services/transactions/TransactionRunner.js
Due: prettier --write

Stage 5 Phase B: Database lifecycle integrity constraints
  STAGE_5_PHASE_B_CHANGELOG.md
  backend/database/migrations/010_backfill_invoices_without_visit.sql
  backend/database/migrations/010_backfill_tokens_without_visit.sql
  backend/database/migrations/010_lifecycle_integrity.sql
  backend/database/migrations/README_LIFECYCLE_MIGRATION.md
  backend/database/schema.sql
  db/schema.sql
Due: prettier --write

docs: Add workflow analysis and bug fix status documentation
  BUG_FIX_STATUS_REPORT.md
  CLINIC_WORKFLOW_AND_BUG_ANALYSIS.md
  WORKFLOW_SUMMARY.md
Due: prettier --write

fix: Visit completion lifecycle - only complete when invoice paid
  VISIT_COMPLETION_FIX.md
  backend/src/middleware/auth.js
  backend/src/models/Invoice.model.js
  backend/src/models/Visit.model.js
  backend/src/routes/doctorNote.routes.js
  backend/src/routes/prescription.routes.js
Due: prettier --write

Stage 6 Step 0: Add path aliases and ESLint guardrails
  frontend/eslint.config.js
  frontend/vite.config.js
Due: none

Stage 6 Step 1: Create temporary re-export shims for legacy components
  frontend/src/components/DataTable.jsx
  frontend/src/components/EmptyState.jsx
  frontend/src/components/ErrorState.jsx
  frontend/src/components/LoadingState.jsx
  frontend/src/components/SearchInput.jsx
  frontend/src/components/ui/ModalComponent.jsx
Due: eslint --fix, prettier --write

Stage 6 Step 2a: Move useDebounce.js to hooks/ directory
  frontend/src/hooks/useDebounce.js
  frontend/src/utils/useDebounce.js
Due: eslint --fix, prettier --write

Stage 6 Step 2b: Remove legacy CashierDashboard.jsx duplicate
  frontend/src/pages/CashierDashboard.jsx
Due: eslint --fix, prettier --write

Stage 6 Step 3a: Update useDebounce imports to @hooks/useDebounce
  frontend/src/components/WalkInModal.jsx
  frontend/src/pages/admin/EmployeeManagement.jsx
  frontend/src/pages/admin/PatientAccountRegistration.jsx
  frontend/src/pages/cashier/CashierDashboard.jsx
  frontend/src/pages/nurse/NursePatientQueuePage.jsx
  frontend/src/pages/receptionist/LiveQueuePage.jsx
  frontend/src/pages/receptionist/ReceptionistDashboard.jsx
Due: eslint --fix, prettier --write

Stage 6 Step 3b: Update ErrorState imports to library version
  frontend/src/components/patient/LatestVisitSummary.jsx
  frontend/src/components/patient/ProfileSummary.jsx
  frontend/src/components/patient/UpcomingAppointments.jsx
  frontend/src/components/patient/VitalsSnapshot.jsx
Due: eslint --fix, prettier --write

Stage 6: Add STAGE_6_MOVE_PLAN.md documenting all file moves and shims
  STAGE_6_MOVE_PLAN.md
Due: prettier --write

Stage 6 Step 3c: Update LoadingState imports + add deliverables
  ROLLBACK.md
  STAGE_6_POSTCHECK.md
  frontend/src/pages/doctor/PatientMedicalRecordManagement.jsx
  frontend/src/pages/nurse/ElectronicMedicalRecords.jsx
Due: eslint --fix, prettier --write

Stage 6: remove ready shims + import fixes
  STAGE_6_FINAL_REPORT.md
  frontend/src/components/ErrorState.jsx
  frontend/src/components/LoadingState.jsx
  frontend/src/utils/useDebounce.js
Due: eslint --fix, prettier --write

Stage 6: Add completion summary
  STAGE_6_COMPLETION_SUMMARY.md
Due: prettier --write

Stage 6: Add verification and final summary reports
  STAGE_6_FINAL_SUMMARY.md
  STAGE_6_VERIFICATION_REPORT.md
Due: prettier --write

Stage 6: Final cleanup - remove all shims, backup files, and add fetch() guardrails
  AUTH_401_REPORT.md
  MERGE_INSTRUCTIONS.md
  METRICS.md
  MODULE_MAP_BACKEND.json
  MODULE_MAP_FRONTEND.json
  PR_DESCRIPTION_UPDATE.md
  STAGE_4_COMPONENT_OPPS.md
  STAGE_4_PR_UPDATE.md
  STAGE_6_FINAL_CLEANUP_REPORT.md
  STAGE_6_STRUCTURE_ASSESSMENT.md
  STAGE_6_VERIFICATION_REPORT.md
  SUGGESTED_SAFETY_NETS.md
  TREE_BACKEND.md
  TREE_FRONTEND.md
  frontend/eslint.config.js
  frontend/src/components/DataList.jsx
  frontend/src/components/DataTable.jsx
  frontend/src/components/EmptyState.jsx
  frontend/src/components/PatientList.jsx
  frontend/src/components/SearchInput.jsx
  frontend/src/components/patient/VitalsSnapshot.jsx.backup
  frontend/src/components/patient/VitalsSnapshot_ORIGINAL.jsx
  frontend/src/components/ui/ModalComponent.jsx
Due: eslint --fix, prettier --write
