Repository LinSwanSaung/clinicinformationsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "frontend/src/**/*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "backend/src/**/*.js": ["prettier --write"],
  "*.{json,css,md}": ["prettier --write"]
}

fix: add runtime specification to Vercel serverless function - Specify nodejs20.x runtime for api/index.js - Ensures correct Node.js version for serverless function
  vercel.json
Due: prettier --write

fix: remove invalid runtime specification from vercel.json - Vercel auto-detects Node.js version from package.json - Runtime specification was causing deployment error
  vercel.json
Due: prettier --write

fix: update root package-lock.json to sync dependencies
  package-lock.json
Due: prettier --write

fix: use environment variables for VERCEL_TOKEN in deployment workflow - Pass VERCEL_TOKEN as env var instead of inline - More secure and reliable token handling
  .github/workflows/deploy.yml
Due: none

fix: add VERCEL_ORG_ID and VERCEL_PROJECT_ID for vercel pull - Required for vercel pull to work in CI environment - Need to add these as GitHub Secrets
  .github/workflows/deploy.yml
Due: none

docs: clarify deployment strategy in workflow - Production deployments only from main branch - Preview deployments handled by Vercel auto-deployment
  .github/workflows/deploy.yml
Due: none

fix: add curly braces to if statements and remove unused imports
  backend/src/services/Analytics.service.js
  backend/src/services/Queue.service.js
  frontend/src/features/medical/components/forms/MedicationForm.jsx
Due: eslint --fix, prettier --write

feat: enhance admin audit log with detailed change tracking
  backend/src/app.js
  backend/src/jobs/pendingItemsNotifications.js
  backend/src/models/QueueToken.model.js
  backend/src/models/Visit.model.js
  backend/src/services/Invoice.service.js
  backend/src/services/Notification.service.js
  backend/src/services/repositories/NotificationsRepo.js
  frontend/src/components/layout/NotificationBell.jsx
  frontend/src/components/library/modals/PaymentDetailModal.jsx
  frontend/src/features/admin/pages/AuditLogs.jsx
  frontend/src/features/admin/pages/DoctorAvailability.jsx
  frontend/src/features/appointments/components/AppointmentCard.jsx
  frontend/src/features/medical/components/MedicalInformationPanel.jsx
  frontend/src/features/patients/components/PatientCard.jsx
  frontend/src/features/visits/pages/ElectronicMedicalRecords.jsx
  frontend/src/features/visits/pages/PatientMedicalRecordManagement.jsx
  frontend/src/pages/patient/PatientMedicalRecords.jsx
  frontend/src/pages/role-dashboards/CashierDashboard.jsx
  frontend/src/pages/role-dashboards/DoctorDashboard.jsx
  frontend/src/pages/role-dashboards/NurseDashboard.jsx
  frontend/src/pages/role-dashboards/ReceptionistDashboard.jsx
Due: eslint --fix, prettier --write

Feature updates and bug fixes
  backend/database/migrations/020_add_doctor_note_id_to_prescriptions.sql
  backend/database/schema.sql
  backend/src/app.js
  backend/src/models/Prescription.model.js
  backend/src/models/Visit.model.js
  backend/src/routes/prescription.routes.js
  backend/src/services/Invoice.service.js
  backend/src/services/Notification.service.js
  backend/src/services/Payment.service.js
  backend/src/services/Prescription.service.js
  backend/src/services/Queue.service.js
  backend/src/services/Visit.service.js
  backend/src/services/repositories/NotificationsRepo.js
  frontend/src/components/layout/Navbar.jsx
  frontend/src/features/admin/pages/DoctorAvailability.jsx
  frontend/src/features/appointments/components/AppointmentPatientCard.jsx
  frontend/src/features/appointments/pages/AppointmentsPage.jsx
  frontend/src/features/auth/pages/AdminLogin.jsx
  frontend/src/features/medical/components/MedicalInformationPanel.jsx
  frontend/src/features/medical/components/forms/DiagnosisForm.jsx
  frontend/src/features/medical/services/allergyService.js
  frontend/src/features/medical/services/diagnosisService.js
  frontend/src/features/medical/services/prescriptionService.js
  frontend/src/features/patients/pages/PatientDetailPage.jsx
  frontend/src/features/queue/components/QueueDoctorCard.jsx
  frontend/src/features/queue/services/queueService.js
  frontend/src/features/visits/components/VisitHistoryCard.jsx
  frontend/src/features/visits/pages/ElectronicMedicalRecords.jsx
  frontend/src/features/visits/pages/PatientMedicalRecord.jsx
  frontend/src/features/visits/pages/PatientMedicalRecordManagement.jsx
  frontend/src/features/visits/services/visitService.js
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/my.json
  frontend/src/pages/role-dashboards/CashierDashboard.jsx
  frontend/src/pages/role-dashboards/DoctorDashboard.jsx
Due: eslint --fix, prettier --write

chore: add VM deployment setup
  .gitignore
  backend/.env.example
  backend/Dockerfile
  backend/src/app.js
  backend/src/routes/clinicSettings.routes.js
  backend/src/services/ClinicSettings.service.js
  backend/src/services/Document.service.js
  backend/src/utils/localStorage.js
  deploy/vm/.env.example
  deploy/vm/Caddyfile
  deploy/vm/docker-compose.yml
  docs/VM_DEPLOYMENT.md
Due: prettier --write

fix: make VM backend install tolerate stale lockfile
  backend/Dockerfile
Due: none

fix: create doctor notes before prescriptions
  backend/database/schema.sql
Due: none

fix: add local postgres supabase roles
  backend/database/schema.sql
Due: none

fix: allow backend startup without AI key
  backend/src/services/OpenAI.service.js
Due: prettier --write

chore: support sslip HTTPS for VM API
  deploy/vm/.env.example
  deploy/vm/Caddyfile
  deploy/vm/docker-compose.yml
  docs/VM_DEPLOYMENT.md
Due: prettier --write

chore: proxy Vercel API calls to VM
  deploy/vm/.env.example
  deploy/vm/Caddyfile
  deploy/vm/docker-compose.yml
  docs/VM_DEPLOYMENT.md
  vercel.json
Due: prettier --write

chore: route Supabase client to local PostgREST
  deploy/vm/PostgrestCaddyfile
  deploy/vm/docker-compose.yml
  docs/VM_DEPLOYMENT.md
Due: prettier --write

chore: add VM demo user seed
  deploy/vm/seed-demo-users.sql
  docs/VM_DEPLOYMENT.md
Due: prettier --write

Seed VM demo clinic data
  deploy/vm/seed-demo-users.sql
Due: none

Remove Supabase bridge from VM backend
  backend/package-lock.json
  backend/package.json
  backend/src/config/database.js
  backend/src/config/postgresClient.js
  backend/src/middleware/auth.js
  backend/src/services/transactions/TransactionRunner.js
  deploy/vm/.env.example
  deploy/vm/PostgrestCaddyfile
  deploy/vm/docker-compose.yml
  docs/VM_DEPLOYMENT.md
Due: prettier --write

Fix Postgres adapter nested dashboard queries
  backend/src/config/postgresClient.js
Due: prettier --write

Fix Postgres adapter update and single-row behavior
  backend/src/config/postgresClient.js
Due: prettier --write

Fix dashboard health status check
  backend/src/app.js
  frontend/src/features/admin/pages/AdminDashboard.jsx
  frontend/src/services/api.js
Due: eslint --fix, prettier --write

Support OpenRouter AI credentials
  backend/.env.example
  backend/src/services/OpenAI.service.js
  deploy/vm/.env.example
  docs/SETUP.md
Due: prettier --write
