Repository LinSwanSaung/clinicinformationsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "frontend/src/**/*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "backend/src/**/*.js": ["prettier --write"],
  "*.{json,css,md}": ["prettier --write"]
}

chore: remove unused imports/vars (eslint-plugin-unused-imports); no behavior change
  SMOKE_TEST_RESULTS.md
  frontend/eslint.config.js
  frontend/package.json
  package-lock.json
Due: prettier --write

docs: update README to reflect complete removal of migrations and legacy files
  backend/database/README.md
Due: prettier --write

chore: consolidate to backend/database/schema.sql as single source of truth — remove duplicate db/ folder
  backend/database/README.md
  backend/database/schema.sql
  backend/scripts/compare-schemas.js
  db/SCHEMA_TESTING.md
  db/SCHEMA_VERIFICATION.md
  db/legacy_migrations/001_emr_enhancements.sql
  db/legacy_migrations/002_add_admin_override_columns.sql
  db/legacy_migrations/002_add_cashier_pharmacist_roles.sql
  db/legacy_migrations/002_add_delayed_status.sql
  db/legacy_migrations/002_add_priority_to_vitals.sql
  db/legacy_migrations/002_add_visit_id_to_queue_tokens.sql
  db/legacy_migrations/002_payment_holds.sql
  db/legacy_migrations/002_quick_fix.sql
  db/legacy_migrations/003_add_delayed_status_appointment_queue.sql
  db/legacy_migrations/003_add_visit_times.sql
  db/legacy_migrations/003_billing_system.sql
  db/legacy_migrations/003_enhance_audit_logs.sql
  db/legacy_migrations/004_add_action_constraint.sql
  db/legacy_migrations/004_add_visit_id_to_allergies.sql
  db/legacy_migrations/004_add_visit_id_to_queue_tokens.sql
  db/legacy_migrations/004_create_patient_documents_table.sql
  db/legacy_migrations/004_notifications.sql
  db/legacy_migrations/005_add_category_to_diagnoses.sql
  db/legacy_migrations/005_add_invoice_actions.sql
  db/legacy_migrations/005_add_late_status.sql
  db/legacy_migrations/005_cleanup_appointment_queue.sql
  db/legacy_migrations/005_doctor_unavailability_management.sql
  db/legacy_migrations/006_add_diagnosis_date_to_diagnoses.sql
  db/legacy_migrations/006_extend_audit_logs_actions.sql
  db/legacy_migrations/007_add_icd_10_code_to_diagnoses.sql
  db/legacy_migrations/007_make_audit_logs_user_id_nullable.sql
  db/legacy_migrations/008_add_patient_portal_accounts.sql
  db/legacy_migrations/009_add_admin_override_columns.sql
  db/legacy_migrations/BILLING_REUSE_GUIDE.md
  db/legacy_migrations/README_PAYMENT_MIGRATION.md
  db/migration-inventory.md
  db/schema.sql
  db/usage-manifest.json
Due: prettier --write

chore: organize backend docs and remove one-time scripts/debug files — production-ready cleanup
  backend/AI_MIGRATION_GUIDE.md
  backend/AUDIT_LOGGING_SUMMARY.md
  backend/BACKEND_RESTRUCTURE_PLAN.md
  backend/README.md
  backend/database/fix_rls_policies.sql
  backend/docs/BACKEND_BOUNDARIES.md
  backend/docs/CLEANUP_SUMMARY.md
  backend/docs/DOCTOR_AVAILABILITY.md
  backend/docs/DOCTOR_UNAVAILABILITY_SYSTEM.md
  backend/docs/LOGGER_GUIDE.md
  backend/docs/MIDDLEWARE_ORDER.md
  backend/docs/README.md
  backend/docs/ROLLBACK.md
  backend/docs/SCHEMA_VERIFICATION.md
  backend/docs/SUPABASE_SETUP.md
  backend/package.json
  backend/scripts/backfill-null-visit-ids.js
  backend/scripts/cleanup-test-tokens.js
  backend/scripts/compare-schemas.js
  backend/scripts/verify-schema.js
  backend/setup.js
Due: prettier --write

docs: consolidate backend docs into 2 production-ready files — ARCHITECTURE.md and SETUP_AND_OPERATIONS.md
  backend/docs/ARCHITECTURE.md
  backend/docs/BACKEND_BOUNDARIES.md
  backend/docs/CLEANUP_SUMMARY.md
  backend/docs/DOCTOR_AVAILABILITY.md
  backend/docs/DOCTOR_UNAVAILABILITY_SYSTEM.md
  backend/docs/LOGGER_GUIDE.md
  backend/docs/MIDDLEWARE_ORDER.md
  backend/docs/README.md
  backend/docs/ROLLBACK.md
  backend/docs/SCHEMA_VERIFICATION.md
  backend/docs/SETUP_AND_OPERATIONS.md
  backend/docs/SUPABASE_SETUP.md
Due: prettier --write

docs: streamline backend README.md to concise entry point — remove duplicates, fix references
  backend/README.md
Due: prettier --write

refactor: move schema verification script to database/ and remove empty scripts/ folder
  backend/README.md
  backend/database/README.md
  backend/database/verify-schema.js
  backend/package.json
Due: prettier --write

docs: fix README structure diagram — remove scripts/ folder reference
  backend/README.md
Due: prettier --write

docs: add backend restructure completion verification report
  backend/docs/RESTRUCTURE_COMPLETION.md
Due: prettier --write

feat: improve invoice details modal and credit display
  backend/src/models/Invoice.model.js
  backend/src/models/PaymentTransaction.model.js
  backend/src/routes/invoice.routes.js
  backend/src/services/Invoice.service.js
  backend/src/services/Payment.service.js
  backend/src/services/Visit.service.js
  backend/src/services/repositories/BillingRepo.js
  frontend/docs/ADDING_FEATURES.md
  frontend/docs/README.md
  frontend/src/components/layout/Navbar.jsx
  frontend/src/components/library/forms/FormModal.jsx
  frontend/src/components/library/modals/PaymentDetailModal.jsx
  frontend/src/features/billing/pages/InvoiceManagement.jsx
  frontend/src/features/billing/services/invoiceService.js
  frontend/src/features/patient-portal/components/VitalsSnapshot.jsx
  frontend/src/features/visits/pages/PatientMedicalRecord.jsx
  frontend/src/pages/role-dashboards/CashierDashboard.jsx
Due: eslint --fix, prettier --write

fix: non-auth parity issues - middleware order and logger standardization
  .gitignore
  backend/src/middleware/activeVisitCheck.js
  backend/src/models/BaseModel.js
  backend/src/models/Invoice.model.js
  backend/src/models/QueueToken.model.js
  backend/src/models/Visit.model.js
  backend/src/routes/appointment.routes.js
  backend/src/routes/doctorAvailability.routes.js
  backend/src/routes/doctorNote.routes.js
  backend/src/routes/document.routes.js
  backend/src/routes/patient.routes.js
  backend/src/routes/patientAllergy.routes.js
  backend/src/routes/patientDiagnosis.routes.js
  backend/src/routes/payment.routes.js
  backend/src/routes/prescription.routes.js
  backend/src/routes/queue.routes.js
  backend/src/services/ClinicSettings.service.js
  backend/src/services/Invoice.service.js
  backend/src/services/Patient.service.js
  backend/src/services/PatientPortal.service.js
  backend/src/services/Queue.service.js
Due: prettier --write

fix: middleware order, CORS headers, and logger replacement
  backend/docs/ARCHITECTURE.md
  backend/src/app.js
  backend/src/config/database.js
  backend/src/jobs/autoCancelAppointments.js
  backend/src/middleware/errorHandler.js
  backend/src/routes/admin.routes.js
  backend/src/routes/clinicSettings.routes.js
  backend/src/utils/auditLogger.js
  backend/src/utils/fileLogger.js
  package.json
Due: prettier --write

feat: improved ux with feedback according to HCI principles
  backend/src/config/database.js
  backend/src/middleware/auth.js
  backend/src/models/QueueToken.model.js
  backend/src/models/Visit.model.js
  backend/src/routes/admin.routes.js
  backend/src/routes/queue.routes.js
  backend/src/services/Auth.service.js
  backend/src/services/PatientPortal.service.js
  backend/src/services/Queue.service.js
  frontend/docs/ADDING_FEATURES.md
  frontend/src/app/providers.jsx
  frontend/src/components/library/buttons/PdfDownloadButton.jsx
  frontend/src/components/library/feedback/Toast.jsx
  frontend/src/components/library/index.js
  frontend/src/components/ui/input.jsx
  frontend/src/components/ui/select.jsx
  frontend/src/components/ui/textarea.jsx
  frontend/src/contexts/FeedbackContext.jsx
  frontend/src/docs/FEEDBACK_SYSTEM_SUMMARY.md
  frontend/src/docs/FEEDBACK_SYSTEM_USAGE.md
  frontend/src/features/admin/pages/PendingItems.jsx
  frontend/src/features/appointments/components/ServiceSelector.jsx
  frontend/src/features/appointments/components/WalkInModal.jsx
  frontend/src/features/billing/pages/InvoiceDetailsPage.jsx
  frontend/src/features/billing/pages/InvoiceManagement.jsx
  frontend/src/features/medical/components/forms/MedicationForm.jsx
  frontend/src/features/patients/components/PatientCard.jsx
  frontend/src/features/patients/pages/PatientDetailPage.jsx
  frontend/src/features/visits/pages/ElectronicMedicalRecords.jsx
  frontend/src/features/visits/pages/PatientMedicalRecord.jsx
  frontend/src/features/visits/pages/PatientMedicalRecordManagement.jsx
  frontend/src/pages/patient/PatientLiveQueue.jsx
  frontend/src/pages/patient/PatientMedicalRecords.jsx
  frontend/src/pages/role-dashboards/CashierDashboard.jsx
  frontend/src/pages/role-dashboards/DoctorDashboard.jsx
  frontend/src/pages/role-dashboards/NurseDashboard.jsx
  frontend/src/pages/role-dashboards/ReceptionistDashboard.jsx
Due: eslint --fix, prettier --write

chore: Rebrand system from RealCIS to ThriveCare
  README.md
  backend/README.md
  backend/docs/ARCHITECTURE.md
  backend/docs/README.md
  backend/docs/SETUP_AND_OPERATIONS.md
  backend/package.json
  backend/src/app.js
  backend/src/services/Payment.service.js
  backend/src/services/Visit.service.js
  frontend/docs/ARCHITECTURE.md
  frontend/docs/README.md
  frontend/index.html
  frontend/package.json
  frontend/src/constants/app.js
  frontend/src/features/auth/pages/AdminLogin.jsx
  package.json
Due: eslint --fix, prettier --write

feat: add Vercel deployment configuration and GitHub Actions CI/CD pipeline
  .github/workflows/backend-deploy.yml
  .github/workflows/deploy.yml
  .vercelignore
  DEPLOYMENT_SUMMARY.md
  README.md
  VERCEL_QUICK_START.md
  docs/DEPLOYMENT.md
  docs/RAILWAY_BACKEND_DEPLOY.md
  vercel.json
Due: prettier --write

fix: remove Windows-specific rollup package from dependencies
  frontend/package.json
Due: prettier --write

fix: update vercel.json for root directory configuration
  vercel.json
Due: prettier --write

fix: make husky prepare script optional and ignore root package.json in Vercel
  package.json
Due: prettier --write

fix: ignore root package.json in Vercel to prevent husky errors
  .vercelignore
Due: none

fix: make package.json exclusion root-specific in .vercelignore
  .vercelignore
Due: none

fix: add missing react-markdown dependency
  frontend/package.json
Due: prettier --write

fix: update package-lock.json files with react-markdown dependency
  package-lock.json
Due: prettier --write

fix: regenerate frontend/package-lock.json with react-markdown
  frontend/package-lock.json
Due: prettier --write

feat: add Vercel serverless function support for backend API
  api/index.js
  backend/src/app.js
  vercel.json
Due: prettier --write

fix: update vercel.json for proper frontend and backend routing
  vercel.json
Due: prettier --write

fix: remove root package.json from .vercelignore
  .vercelignore
Due: none

fix: simplify vercel.json for monorepo deployment
  vercel.json
Due: prettier --write

fix: allow backend directory in Vercel deployment
  .vercelignore
Due: none

fix: update install command to use prefer-offline for better reliability
  vercel.json
Due: prettier --write

fix: add Linux rollup native binding for Vercel
  frontend/package.json
Due: prettier --write

fix: allow Vercel preview URLs in CORS configuration
  backend/src/app.js
Due: prettier --write

fix: simplify CORS to allow all Vercel preview URLs
  backend/src/app.js
Due: prettier --write

fix: ensure Vercel origin check handles null/undefined origin safely
  backend/src/app.js
Due: prettier --write

fix: simplify Vercel handler - remove async wrapper - Express handles responses synchronously - Let Express errorHandler middleware handle errors
  api/index.js
Due: none
